[submodule "lib/baton"]
	path = lib/baton
	url = https://github.com/tesselode/baton
[submodule "lib/anim8"]
	path = lib/anim8
	url = https://github.com/kikito/anim8
[submodule "lib/cpml"]
	path = lib/cpml
	url = https://github.com/excessive/cpml
[submodule "lib/hc"]
	path = lib/HC
	url = https://github.com/vrld/HC.git
[submodule "lib/middleclass"]
	path = lib/middleclass
	url = https://github.com/kikito/middleclass
[submodule "lib/lovetoys"]
	path = lib/lovetoys
	url = https://github.com/Lovetoys/lovetoys
[submodule "lib/a-star-lua"]
	path = lib/a-star-lua
	url = https://github.com/lattejed/a-star-lua.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump.git
[submodule "lib/moonshine"]
	path = lib/moonshine
	url = https://github.com/vrld/moonshine.git

[submodule "lib/flux"]
	path = lib/flux
	url = https://github.com/rxi/flux/
[submodule "hump"]
	path = hump
	url = https://github.com/vrld/hump.git
